<ul class="nav nav-pills">
  <li class="active"><%= link_to "Trang chủ", "#" %></li>
  <li class="active"><%= link_to "Chỉ số cơ thể",bmi_path %><li>
  <li class="active"><%= link_to "Calo cho cân", "#" %></li>
  <li class="active"><%= link_to "Mục tiêu nhịp tim", "#" %></li>
  <li class="active"><%= link_to "Thể tích máu", "#" %></li>
  <li class="active"><%= link_to "Cồn trong máu", "#" %></li>
  <li class="active"><%= link_to "Lượng nước", "#" %></li>
  <li class="active"><%= link_to "Trọng lượng lý tưởng", "#" %></li>
</ul>